footer {
  background-color: #000;
  padding: 40px;
}
.logo_name{
	color:white;
	font-size:40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-sm {
  width: 25%;
  text-align: center;
	color:#fff;
	float:left;
}

.col-sm h2 {
  margin-bottom: 10px;
	color:#fff;
	text-decoration:underline;
}

.col-sm ul {
  list-style: none;
  padding: 0;
}

.col-sm li {
  margin-bottom: 10px;
	color:#fff;
}

.col-sm a {
  text-decoration: none;
  color: hsl(0, 0%, 90%);
}

.copyright {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
